<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Feature</title>
</head>
<body>
<main layout:fragment="content">
    <!-- Hero Start -->
    <div class="container-fluid bg-primary py-5 bg-hero mb-5">
        <div class="container py-5">
            <div class="row justify-content-start">
                <div class="col-lg-8 text-center text-lg-start">
                    <h1 class="display-1 text-white mb-md-4">Features</h1>
                    <a href="/" class="btn btn-primary py-md-3 px-md-5 me-3">Home</a>
                    <a href="/feature" class="btn btn-secondary py-md-3 px-md-5">Features</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->


    <!-- Features Start -->
    <div class="container-fluid bg-primary feature py-5 pb-lg-0" style="margin: 90px 0 135px 0;">
        <div class="container py-5 pb-lg-0">
            <div class="mx-auto text-center mb-3 pb-2" style="max-width: 500px;">
                <h6 class="text-uppercase text-secondary">Features</h6>
                <h1 class="display-5 text-white">Why Choose Us!!!</h1>
            </div>
            <div class="row g-5">
                <!-- Left Features -->
                <div class="col-lg-3 d-flex flex-column justify-content-between">
                    <div th:each="feature,iterStat : ${features}" th:if="${iterStat.index == 0}">
                        <div class="text-white mb-5">
                            <div class="bg-secondary rounded-pill d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                                <i th:class="${feature.iconClass} + ' fs-4 text-white'"></i>
                            </div>
                            <h4 class="text-white" th:text="${feature.title}"></h4>
                            <p class="mb-0" th:text="${feature.subTitle}"></p>
                        </div>
                    </div>
                    <div th:each="feature,iterStat : ${features}" th:if="${iterStat.index == 1}">
                        <div class="text-white mb-5">
                            <div class="bg-secondary rounded-pill d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                                <i th:class="${feature.iconClass} + ' fs-4 text-white'"></i>
                            </div>
                            <h4 class="text-white" th:text="${feature.title}"></h4>
                            <p class="mb-0" th:text="${feature.subTitle}"></p>
                        </div>
                    </div>
                </div>
                <!-- Center Content -->
                <div class="col-lg-6">
                    <div class="d-block bg-white h-100 text-center p-5 pb-lg-0">
                        <p> At Farm Fresh, we are dedicated to providing the highest quality, sustainably sourced produce, harvested at peak freshness, and delivered with exceptional service. Our commitment to organic farming practices ensures that every product is free from harmful chemicals and full of natural goodness. With a focus on innovation and sustainability, we continuously strive to improve our farming techniques and delivery methods to bring you the best of the best. Trust us to bring you healthy, delicious food that you and your family can enjoy with peace of mind</p>
                        <img class="img-fluid" th:src="@{/img/feature.png}" alt="">
                    </div>
                </div>
                <!-- Right Features -->
                <div class="col-lg-3 d-flex flex-column justify-content-between">
                    <div th:each="feature,iterStat : ${features}" th:if="${iterStat.index == 2}">
                        <div class="text-white mb-5">
                            <div class="bg-secondary rounded-pill d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                                <i th:class="${feature.iconClass} + ' fs-4 text-white'"></i>
                            </div>
                            <h4 class="text-white" th:text="${feature.title}"></h4>
                            <p class="mb-0" th:text="${feature.subTitle}"></p>
                        </div>
                    </div>
                    <div th:each="feature,iterStat : ${features}" th:if="${iterStat.index == 3}">
                        <div class="text-white mb-5">
                            <div class="bg-secondary rounded-pill d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                                <i th:class="${feature.iconClass} + ' fs-4 text-white'"></i>
                            </div>
                            <h4 class="text-white" th:text="${feature.title}"></h4>
                            <p class="mb-0" th:text="${feature.subTitle}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Features End -->

</main>
</body>