<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>About Vegetables</title>
</head>
<body>
<main layout:fragment="content">
    <!-- Hero Start -->
    <div class="container-fluid bg-primary py-5 bg-hero mb-5">
        <div class="container py-5">
            <div class="row justify-content-start">
                <div class="col-lg-8 text-center text-lg-start">
                    <h1 class="display-1 text-white mb-md-4">Organic Vegetables</h1>
                    <a href="/" class="btn btn-primary py-md-3 px-md-5 me-3">Home</a>
                    <a href="/contact" class="btn btn-secondary py-md-3 px-md-5">Contact</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <!-- Information Start-->
    <div class="container">
        <div class="mx-auto text-center mb-5" style="max-width: 500px;">
            <h6 class="text-primary text-uppercase">Vegetables</h6>
            <h1 class="display-5" th:text="${banners[2].title}"></h1>
        </div>
        <div class="mx-auto text-center mb-5">
            <div class="d-block bg-white h-100 text-center mb-5 pb-lg-0">
                <p th:text="${banners[2].subTitle}"></p>
                <img class="img-fluid" src="img/feature.png" alt="">
            </div>
        </div>
    </div>


</main>
</body>